/* Testimonials */
.testimonials {
    margin-top: var(--vspace-3);
}

.testimonial-slider {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonial-slider__slide {
    padding: 2rem;
    border-left: 3px solid var(--color-1);
    background: rgba(255, 255, 255, 0.02);
    position: relative;
}

.testimonial-slider__author {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.testimonial-slider__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
    filter: grayscale(100%);
    transition: all 0.3s ease;
}

.testimonial-slider__slide:hover .testimonial-slider__avatar {
    filter: none;
}

.testimonial-slider__cite {
    font-style: normal;
}

.testimonial-slider__cite strong {
    display: block;
    font-size: calc(var(--base-font-size) * 0.8947);
    font-weight: 400;
    line-height: var(--vspace-0_75);
    color: white;
}

.testimonial-slider__cite span {
    display: block;
    font-size: calc(var(--base-font-size) * 0.7368);
    font-weight: 300;
    line-height: var(--vspace-0_5);
    color: var(--color-text-light);
}

