html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: whitesmoke;
}

header {
  line-height: 10%;
  height: 10%;
  max-height: 12%;
  padding-left: 20px;
  display: flex;
  color: #303a43;
  text-align: center;
  box-shadow: 1px 1px 7px #e0e0e0;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Caveat";
  position: relative;
  background: white;
}

header .link a:hover {
  transition: 300ms;
  border-color: #ff9100;
  font-weight: 700;
  box-shadow: 1px 1px 2px #e0e0e0;
  color: #ff9100;
}

header .link_small {
  display: none;
}

header .link a {
  padding-right: 8px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  border: 1.3px solid #f0f0f0;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3em;
  color: #474747;
}

header .link {
  position: absolute;
  right: 15px;
  top: 50%;
}

header h1 {
  font-size: 3.1em;
  margin: 0;
  top: 50%;
  position: absolute;
  text-shadow: 1px 1px 2px darkgray;
}

#circle {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #303a43;
}

.content {
  margin: auto;
  padding: 30px;
  height: 75%;
  color: #303a43;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_btn {
  background: white;
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  left: 0;
  right: 0;
  max-height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content #description h1 {
  margin: 10px;
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 3.8em;
}

.content #description h5 {
  margin: 10px;
  font-weight: 600;
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 1.8em;
}

.content #description {
  text-shadow: 1px 1px 1px darkgray;
  align-items: center;
  margin-left: 50px;
}

.content img {
  width: 200px;
  align-items: center;
  height: 200px;
}

.social_btn h4 {
  padding: 0;
  margin-bottom: 35px;
  margin-right: 15px;
  font-family: "Caveat", cursive;
  font-size: 35px;
  font-weight: 700;
  color: #303a43;
}

#github {
  padding: 11px;
}

#team {
  padding: 10px;
  padding-top: 8px;
}

#linkedin {
  padding: 11px;
  padding-top: 9px;
}

@media (max-width: 420px) {
  header {
    height: 10%;
  }

  .content {
    height: 80%;
    color: #303a43;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content #description h1 {
    margin: 6px;
    padding: 0;
    align-self: center;
    font-family: "Caveat", cursive;
    font-size: 3em;
  }

  .content #description h5 {
    margin: 8px;
    padding: 0;
    font-family: "Caveat", cursive;
    font-size: 1.6em;
  }

  .content #description {
    margin-top: 5%;
    text-shadow: 1px 1px 1px darkgray;
    margin-left: 0;
  }

  .content img {
    height: 180px;
    width: 180px;
  }

  .social_btn h4 {
    padding: 0;
    margin-bottom: 0;
    margin-right: 0;
    visibility: hidden;
    font-family: "Caveat", cursive;
    font-size: 0;
    color: #303a43;
  }

  header .link {
    display: none;
  }

  #Current {
    padding-top: 7px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    color: #ff9100;
    border-color: #ff9100;
    box-shadow: 1px 1px 3px #e0e0e0;
    margin-right: 7px;


  }

  #About {
    padding-top: 7px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 6px;
  }

  #Projects {
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
  }

  header .link_small i:hover {
    transition: 300ms;
    color: #ff9100;
    border-color: #ff9100;
    box-shadow: 1px 1px 3px #e0e0e0;
  }

  header .link_small i {
    font-size: 18px;
    color: #555555;
    width: 24px;
    height: 24px;
    margin: 0;
    position: relative;
    align-self: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1.2px solid rgb(216, 216, 216);
  }

  header .link_small {
    padding-top: 4px;
    display: flex;
    right: 10px;
    height: 100%;
    line-height: 100%;
    position: absolute;
  }
}