html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: whitesmoke;
}

header {
  line-height: 10%;
  height: 10%;
  padding-left: 20px;
  display: flex;
  color: #303a43;
  text-align: center;
  box-shadow: 1px 1px 7px #e0e0e0;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Caveat";
  position: relative;
  background: white;
}

header .link a:hover {
  transition: 300ms;
  border-color: #ff9100;
  font-weight: 700;
  box-shadow: 1px 1px 2px #e0e0e0;
  color: #ff9100;
}

header .link .current {
  box-shadow: 1px 1px 2px #e0e0e0;
  font-weight: 700;
  border-color: #ff9100;
  color: #ff9100;
}

header .link_small {
  display: none;
}

header .link a {
  padding-right: 8px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  border: 1.3px solid #f0f0f0;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 1px 2px #d8d8d8;
  font-weight: 400;
  font-size: 1.3em;
  color: #474747;
}

header .link {
  position: absolute;
  right: 15px;
  top: 50%;
}

header h1 {
  font-size: 2.9em;
  margin: 0;
  top: 50%;
  position: absolute;
  text-shadow: 1px 1px 2px darkgray;
}

#circle {
  margin-left: 10px;
  width: 37px;
  height: 37px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 9px;
  background: #303a43;
}

/* Content CSS */

.content {
  margin: auto;
  padding: 30px;
  height: 75%;
  color: #303a43;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content #construction {
  height: 50px;
  width: 50px;
  bottom: 8%;
  right: 10px;
  position: fixed;
}

.social_btn {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8%;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 7px #c4c4c4;
  justify-content: center;
}

.content #description h1 {
  margin: 10px;
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 3.8em;
}

.content #description h5 {
  margin: 10px;
  font-weight: 600;
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 1.8em;
}

.content #description {
  text-shadow: 1px 1px 1px darkgray;
  align-items: center;
  margin-left: 50px;
}

.content #me {
  width: 200px;
  align-items: center;
  height: 200px;
}

.social_btn h4 {
  margin-right: 15px;
  font-family: "Caveat", cursive;
  font-size: 30px;
  font-weight: 600;
  color: #303a43;
}

#github {
  padding: 6px;
}

#team {
  padding: 6.5px;
  padding-top: 4px;
}

#linkedin {
  padding: 6px;
  padding-top: 5px;
}

/* project CSS */
.split {
  height: 90%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  top: 10%;
  bottom: 10%;
}

.right h4 {
  padding: 10px;
  height: 100%;
  font-family: "Dosis", sans-serif;
  color: #303a43;

}

.index {
  left: 2.8px;
  height: 90%;
  position: absolute;

}

.green h4 {
  color: #4caf50;
  font-family: "Dosis", sans-serif;
  height: 2px;
  width: 24px;
  margin-top: 1px;
}


.first {
  top: 24%;
  position: absolute;

}

.second {
  top: 48%;
  position: absolute;

}

.third {
  top: 71%;
  position: absolute;

}

.fourth {
  top: 95%;
  position: absolute;
}

.green {
  font-size: 16px;
  color: white;
  width: 24px;
  height: 24px;
  z-index: 1;
  margin-top: 20px;
  background: #303a43;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #4caf50;
}

.progress-container {
  height: 100%;
  position: absolute;
  left: 16px;
  width: 1.8px;
  background: #414e58;
}

.progress-bar {
  height: 0%;
  background: #4caf50;
  width: 1.8px;
}


.right {
  right: 0;
  background: #ff9100;
  width: 100%;
}

.right h2{
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  margin: 0;
  font-size: 1.2em;
  margin-left: 10px;
  line-height: 25px;
}

.right h1{
  font-family: 'Dosis', sans-serif;
  margin: 0;
  font-weight: bold;
}

/*bb*/

.code_img img{
  height: 330px;
  width: 390px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 7px rgb(42, 42, 42);
}

.bb_img img{
  align-self: auto;
  height: 320px;
  width: 150px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgb(83, 83, 83);
}

.bb_img{
  align-self: center;
  margin-top: 20px;
}

/* about CSS */


header #abouttext {
  font-size: 2.3em;
}


.content-about img {
  height: 120px;
  width: 120px;
  /* display: block; 
  margin: auto; */
}

.content-about .top {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-left: 18px solid #303a43;
  box-shadow: 1px 1px 30px #d1d1d1;
}

.content-about #description h1 {
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 2.1em;
  margin: 0;
}

.content-about #description h5 {
  font-weight: 600;
  padding: 0;
  margin: 0;
  font-family: "Caveat", cursive;
  font-size: 1.4em;
}



.content-about #description {
  text-shadow: 1px 1px 1px darkgray;
  text-align: center;
  margin-left: 20px;
}

.middle #about-text {
  font-weight: 600;
  padding: 15px;
  font-family: "Caveat", cursive;
  font-size: 1.2em;
  text-align: center;
}

.middle {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 30px;
  background: rgb(240, 240, 240);
  border-radius: 5px;
  border-left: 18px solid #303a43;
  box-shadow: 1px 1px 30px #d1d1d1;
}

.content-about {
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10%;
  bottom: 8%;
  height: 82%;
  color: #303a43;
}

/* media query*/

@media (max-width: 420px) {
  header {
    height: 10%;
  }

  .content {
    height: 80%;
    color: #303a43;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content #description h1 {
    margin: 6px;
    padding: 0;
    align-self: center;
    font-family: "Caveat", cursive;
    font-size: 3em;
  }

  .content #description h5 {
    margin: 8px;
    padding: 0;
    font-family: "Caveat", cursive;
    font-size: 1.6em;
  }

  .content #description {
    margin-top: 5%;
    text-shadow: 1px 1px 1px darkgray;
    margin-left: 0;
  }

  .content #profile {
    height: 180px;
    width: 180px;
  }

  .social_btn h4 {
    padding: 0;
    margin-bottom: 0;
    margin-right: 0;
    visibility: hidden;
    font-family: "Caveat", cursive;
    font-size: 0;
    color: #303a43;
  }

  header .link {
    display: none;
  }

  #Current {
    color: #ff9100;
    box-shadow: 1px 0px 5px #c5c5c5;
    border-color: #ff9100;

  }

  .fa-home {
    padding-top: 7px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 7px;

  }


  .fa-user {
        padding-top: 7px;
        padding-bottom: 1px;
        padding-left: 4px;
        padding-right: 4px;
        margin-right: 6px;
  }

  .fa-rocket {
    padding-top: 8px;
    top: 15%;
    padding-left: 4px;
    padding-right: 4px;
  }

  header .link_small i:hover {
    transition: 300ms;
    color: #ff9100;
    border-color: #ff9100;
    box-shadow: 0px 0px 5px #e0e0e0;
  }

  header .link_small a {
    margin-left: 5px;
    align-self: center;

  }

  header .link_small i {
    box-shadow: 0px 1px 3px #e0e0e0;

    font-size: 18px;
    color: #555555;
    width: 24px;
    height: 24px;
    margin: 0;
    position: relative;
    align-self: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1.2px solid #d8d8d8;
  }

  header .link_small {
    padding-top: 4px;
    display: flex;
    right: 10px;
    height: 100%;
    line-height: 100%;
    position: absolute;
  }

  /* Progress Bar */
  .progress-container {
    left: 45%;
  }

  .index {
    left: 23%;

  }

  /* about CSS */
  .content-about .top {
    width: 75%;
    flex-direction: column;

  }


  .content-about #description {
    margin-left: 0;
    margin-top: 10px;
  }

  .middle {
    width: 80%;
  }

  .content-about .top {
    width: 80%;
  }

  /*project*/

  .code_img img{
    height: 255px;
    width: 290px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 7px rgb(42, 42, 42);
  }

}