html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: whitesmoke;
}

header {
  line-height: 10%;
  height: 10%;
  padding-left: 20px;
  display: flex;
  color: #303a43;
  text-align: center;
  box-shadow: 1px 1px 7px #e0e0e0;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Caveat";
  position: relative;
  background: white;
}

header .link a:hover {
  transition: 300ms;
  border-color: #ff9100;
  font-weight: 700;
  box-shadow: 1px 1px 2px #e0e0e0;
  color: #ff9100;
}

header .link .current {
  box-shadow: 1px 1px 2px #e0e0e0;
  font-weight: 700;
  border-color: #ff9100;
  color: #ff9100;
}

header .link_small {
  display: none;
}

header .link a {
  padding-right: 8px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  border: 1.3px solid #f0f0f0;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 1px 2px #d8d8d8;
  font-weight: 400;
  font-size: 1.3em;
  color: #474747;
}

header .link {
  position: absolute;
  right: 15px;
  top: 50%;
}

header h1 {
  font-size: 2.9em;
  margin: 0;
  top: 50%;
  position: absolute;
  text-shadow: 1px 1px 2px darkgray;
}

#circle {
  margin-left: 10px;
  width: 37px;
  height: 37px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 9px;
  background: #303a43;
}

/* Content CSS */

.content {
  margin: auto;
  padding: 30px;
  height: 75%;
  color: #303a43;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content #construction {
  height: 50px;
  width: 50px;
  bottom: 10%;
  right: 10px;
  position: fixed;
}


.social_btn {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8%;
  display: flex;
  z-index: 2;
  align-items: center;
  box-shadow: 1px 1px 7px #c4c4c4;
  justify-content: center;
}

.content #description h1 {
  margin: 10px;
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 3.8em;
}

.content #description h5 {
  margin: 10px;
  font-weight: 600;
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 1.8em;
}

.content #description {
  text-shadow: 1px 1px 1px darkgray;
  align-items: center;
  margin-left: 50px;
}

.content #me {
  width: 200px;
  align-items: center;
  height: 200px;
}

.social_btn h4 {
  margin-right: 15px;
  font-family: "Caveat", cursive;
  font-size: 30px;
  font-weight: 600;
  color: #303a43;
}

#github {
  padding: 6px;
}

#team {
  padding: 6.5px;
  padding-top: 4px;
}

#linkedin {
  padding: 6px;
  padding-top: 5px;
}

/* project CSS */
.split {
  height: 82%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  top: 10%;
  bottom: 10%;
}

.left {
  left: 0;
  background: #303a43;
  width: 25%;
}

.right h4 {
  padding: 15px;
  font-family: "Caveat", cursive;
  color: #303a43;

}

.progress-container {
  height: 100%;
  width: 8px;
  background: #ccc;
}

.progress-bar {
  height: 0%;
  background: #4caf50;
  width: 8px;
}

.right {
  right: 0;
  background: #ff9100;
  width: 75%;
}


/* about CSS */

header #abouttext {
  font-size: 2.3em;
}

.content-about {
  color: #303a43;
}

.content-about img {
  margin: auto;
  position: absolute;
  top: 100px;
  height: 120px;
  width: 120px;
}

.content-about #description h1 {
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 2em;
}

.content-about #description h5 {
  font-weight: 600;
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 1.3em;
}



.content-about #description {
  text-shadow: 1px 1px 1px darkgray;
  display: flex;
  justify-content: center;
  top: 45px;
  margin-left: 30px;
  height: 120px;
}

.content-about {
  margin: auto;
  padding: 10px;
  height: 75%;
  color: #303a43;
  display: flex;
  align-self: center;

}

/* media query*/

@media (max-width: 420px) {
  header {
    height: 10%;
  }

  .content {
    height: 80%;
    color: #303a43;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content #description h1 {
    margin: 6px;
    padding: 0;
    align-self: center;
    font-family: "Caveat", cursive;
    font-size: 3em;
  }

  .content #description h5 {
    margin: 8px;
    padding: 0;
    font-family: "Caveat", cursive;
    font-size: 1.6em;
  }

  .content #description {
    margin-top: 5%;
    text-shadow: 1px 1px 1px darkgray;
    margin-left: 0;
  }

  .content img {
    height: 180px;
    width: 180px;
  }

  .social_btn h4 {
    padding: 0;
    margin-bottom: 0;
    margin-right: 0;
    visibility: hidden;
    font-family: "Caveat", cursive;
    font-size: 0;
    color: #303a43;
  }

  header .link {
    display: none;
  }

  #Current {
    margin-right: 2px;
    margin-left: 2px;
    color: #ff9100;
    box-shadow: 2px 2px 3px #e0e0e0;
    border-color: #ff9100;
  }

  .fa-home {
    padding-top: 7px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 7px;

  }


  .fa-user {
    padding-top: 7px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 6px;
  }

  .fa-rocket {
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
  }

  header .link_small i:hover {
    transition: 300ms;
    color: #ff9100;
    border-color: #ff9100;
    box-shadow: 1px 1px 3px #e0e0e0;
  }

  header .link_small a {
    margin-left: 3px;
    align-self: center;

  }

  header .link_small i {
    box-shadow: 1px 1px 1px #e0e0e0;

    font-size: 18px;
    color: #555555;
    width: 24px;
    height: 24px;
    margin: 0;
    position: relative;
    align-self: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1.2px solid #d8d8d8;
  }

  header .link_small {
    padding-top: 4px;
    display: flex;
    right: 10px;
    height: 100%;
    line-height: 100%;
    position: absolute;
  }
}