/* ===================================================================
 * Main Stylesheet
 * ------------------------------------------------------------------- */
@import url('./variables.css');
@import url('./vendor.css');
@import url('./base.css');

@import url('./sections/header.css');
@import url('./sections/intro.css');
@import url('./sections/about.css');
@import url('./sections/works.css');
@import url('./sections/testimonials.css');
@import url('./sections/contact.css');
@import url('./sections/footer.css');

/* Ensure responsive rules are loaded last to override components */
@import url('./responsive.css');
