/* Responsive Design */
@media screen and (max-width: 800px) {
    .s-header {
        pointer-events: none;
    }

    .header-mobile {
        display: block;
        pointer-events: auto;
    }

    .main-nav-wrap {
        transform: scaleY(0);
        transform-origin: center top;
        background-color: var(--color-body);
        border-bottom: 1px solid var(--color-border);
        visibility: hidden;
        pointer-events: none;
    }

    .main-nav {
        padding: var(--vspace-1) 0 var(--vspace-1_5);
        transform: translateY(-2rem);
        opacity: 0;
        visibility: hidden;
    }

    .main-nav ul {
        display: block;
        background-color: transparent;
        border: none;
    }

    .main-nav li {
        display: block;
        border: none;
    }

    .main-nav a {
        font-family: var(--font-2);
        font-size: var(--text-md);
        font-weight: 400;
        line-height: var(--vspace-0_875);
        text-transform: none;
        letter-spacing: 0;
        padding: var(--vspace-0_5) 2.8rem;
        color: var(--color-text);
    }

    .menu-is-open .s-header {
        pointer-events: auto;
    }

    .menu-is-open .main-nav-wrap {
        transform: scaleY(1);
        visibility: visible;
        pointer-events: auto;
        transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .menu-is-open .main-nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-delay: 0.4s;
    }

    .intro-social {
        width: 100%;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 8rem;
        transform: none;
        position: relative;
        left: var(--gutter);
    }

    .about-info__text {
        padding: var(--vspace-1) 0 0 0;
        margin-left: 0;
    }

    .lg-6 {
        width: 100%;
    }

    .text-huge-title {
        font-size: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .row {
        width: 100%;
        padding-left: 6vw;
        padding-right: 6vw;
    }

    .text-huge-title {
        font-size: 4rem;
        line-height: 1.15;
    }

    .folio-list__item {
        flex: 1 1 100%;
        min-width: 100%;
    }

    .contact-btn {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 400px) {
    .folio-list__item-pic img {
        height: auto;
    }

    .text-huge-title {
        font-size: 3.5rem;
    }
}